* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  font-style: normal;
}

body {
  background-color: #FFFAE6;
}

html {
  scroll-behavior: smooth;
}

.logo {
  display: flex;
  justify-content: space-between;
}

.logo img {
  height: 75px;
  width: 130px;
}

.navbar {
  display: flex;
  list-style: none;
  padding: 20px;
  padding-right: 120px;
}

.navbar a {
  text-decoration: none;
  color: black;
  margin-left: 50px;
}

.navbar a:hover {
  color: #3F9D00;
}

/* Flex container for the front section */
.front {
  display: flex;
  justify-content: space-between; /* Align the content (left) and carousel (right) */
  align-items: center; /* Vertically align both content and carousel */
  padding: 0 20px; /* Add padding to the sides */
}

/* Left text section */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Align text to the left */
  max-width: 40%; /* Ensure the text section only takes 40% of the screen width */
  text-align: left;
  margin-left: 50px;
  margin-top: 50px;
}

.line-one {
  font-size: 2.5rem;
  color: #5DB32E;
}

.line-two {
  font-size: 2.5rem;
  color: #DC1278;
}

.content p{
  font-size: 1.5rem;
}

/* Right carousel section */
.carousel {
  position: relative;
  width: 50%; /* The carousel takes 40% of the screen width */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center images horizontally */
  justify-content: center; /* Center images vertically */
}

.carousel-item {
  display: none; /* Hide images initially */
  text-align: center;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.carousel .active {
  display: block; /* Only show the active image */
}

/* Center text section (below both content and carousel) */
.center-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px; /* Space between the content/carousel and the changing text */
}

.center-text p {
  font-size: 1.3rem;
  color: black;
  max-width: 80%; /* Limit width so the text doesn't stretch too much */
  margin: 0;
}

#products-section{
  padding-top: 30px;
}

.products {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.products>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.line {
  border: 3px solid grey;
  width: 230%;
  position: absolute;
  top: 55px;
  left: 93px;
}

.line1 {
  border: 3px solid grey;
  width: 172%;
  position: absolute;
  top: 55px;
  left: 113px;
}

.line2 {
  border: 3px solid grey;
  width: 205%;
  position: absolute;
  top: 55px;
  left: 99px;
}

.products img:hover {
  transform: scale(1.1);
  /*Scale the image by 1.1 times when hovered */
}

.products img {
  width: 100px;
  height: 100px;
  transition: transform 0.3s ease;
  position: relative;
}

.almira {
  text-align: center;
  font-size: 25px;
  color: #AF7800;
}

h1 {
  text-align: center;
  margin-top: 40px;
  color: #012B00;
}

.main-container {
  height: 300px;
  width: 1150px;
  background-color: #635633;
  margin-left: 50px;
  margin-top: 100px;
}

.image-container {
  height: 400px;
  width: 300px;
  background-color: #A6935F;
  position: relative;
  top: -350px;
  margin-left: 100px;
}

.image-container img {
  width: 350px;
  height: auto;
  margin-left: -20px;
  position: relative;
  top: 70px;
  transition: transform 0.3s ease;
}

.main-container h2,
.main-container p {
  margin-left: 380px;
  font-size: 4rem;
  color: white;
  padding-top: 50px;
}

.main-container p {
  font-size: 2rem;
  padding-top: 15px;
}

.main-container1 {
  height: 300px;
  width: 1150px;
  background-color: #626262;
  margin-left: 30px;
  margin-top: -200px;
}

.image-container1 {
  height: 400px;
  width: 300px;
  background-color: #C0C0C0;
  position: relative;
  top: -350px;
  margin-left: 53rem;
}

.image-container1 img {
  width: 320px;
  height: auto;
  margin-left: -10px;
  position: relative;
  top: 20px;
  transition: transform 0.3s ease;
}

.main-container1 h2,
.main-container1 p {
  margin-left: 50px;
  font-size: 4rem;
  color: white;
  padding-top: 50px;
}

.main-container1 p {
  font-size: 2rem;
  padding-top: 5px;
  max-width: 60%;
}

.main-container2 {
  height: 300px;
  width: 1150px;
  background-color: #6A594C;
  margin-left: 50px;
  margin-top: -250px;
}

.image-container2 {
  height: 400px;
  width: 300px;
  background-color: #B29D8C;
  position: relative;
  top: -350px;
  margin-left: 100px;
}

.image-container2 img {
  width: 350px;
  height: auto;
  margin-left: -10px;
  position: relative;
  top: 30px;
  transition: transform 0.3s ease;
}

.main-container2 h2,
.main-container2 p {
  margin-left: 370px;
  font-size: 4rem;
  color: white;
  padding-top: 50px;
}

.main-container2 p {
  font-size: 2rem;
  padding-top: 5px;
}

.main-container3 {
  height: 300px;
  width: 1150px;
  background-color: #272A31;
  margin-left: 50px;
  margin-top: -250px;
}

.image-container3 {
  height: 400px;
  width: 300px;
  background-color: #F2E6D8;
  position: relative;
  top: -350px;
  margin-left: 53rem;
}

.image-container3 img {
  width: 280px;
  height: auto;
  margin-left: 8px;
  position: relative;
  top: 80px;
  transition: transform 0.3s ease;
}


.main-container3 h2,
.main-container3 p {
  margin-left: 50px;
  font-size: 4rem;
  color: white;
  padding-top: 50px;
}

.main-container3 p {
  font-size: 2rem;
  padding-top: 5px;
  max-width: 60%;
}

.image-container img:hover {
  transform: scale(1.1);
  /* Scale the image by 1.1 times when hovered */
}

.image-container1 img:hover {
  transform: scale(1.1);
  /* Scale the image by 1.1 times when hovered */
}

.image-container2 img:hover {
  transform: scale(1.1);
  /* Scale the image by 1.1 times when hovered */
}

.image-container3 img:hover {
  transform: scale(1.1);
  /* Scale the image by 1.1 times when hovered */
}

footer {
  background-color: #F6F6F6;
  height: 230px;
  margin-bottom: 50px;
}

.social-icons{
  display: flex;
  justify-content: flex-end;
  gap: 4px;
  position: relative;
  bottom: 120px;
  margin-right: 20px;
}

.social-icons img{
  height: 35px;
  width: 35px;
  transition: transform 0.3s ease;
}

.social-icons img:hover{
  transform: scale(1.1);
}

.logo1 {
  height: 70px;
  width: 95x;
  display: flex;
  justify-content: center;
  margin-top: -250px;
}

.foot h2 {
  text-align: center;
  font-size: 2rem;
  margin-top: 20px;
}

.contact {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.contact img {
  height: 30px;
  width: 30px;
}

.location {
  display: flex;
}

.whatsapp {
  display: flex;
}

.phone {
  display: flex;
}

.contact p {
  margin-top: 5px;
}

.contact img {
  vertical-align: middle;
}

.contact a {
  text-decoration: none;
  color: black;
  transition: transform 0.3s ease;

}

.contact a:hover {
  transform: scale(1.1);
}

.copyright {
padding-bottom: 8px;
}

.copyright h6 {
  text-align: center;
}

.copyright a {
  color: royalblue;
  text-decoration: none;
}

@media only screen and (max-width: 480px) {


  footer {
    height: 100%;
    width: 100%;
  }

  body {
    overflow-x: hidden;
  }

  .logo img {
    height: 60px;
    width: 85px;
  }

  /* Make navbar items stack vertically and center-align */
  .navbar {
    padding-right: 20px;
    /* Remove right padding */
  }

  .navbar li {
    margin-left: 20px;
  }

  .navbar a {
    margin-left: 0;
    /* Remove left margin */
    margin-bottom: 10px;
    /* Add margin at the bottom for spacing */
    font-size: 14px;
    /* Adjust font size for better readability */
  }

  .navbar a:hover {
    color: #3F9D00;
    /* Keep the hover effect intact */
  }

  .content{
    margin-left: 10px;
    margin-top: 20px;
  }

  .line-one {
    font-size: 12px;
  }

  .line-two {
    font-size: 12px;
  }

  .content p {
    font-size: 8px;
  }

  .center-text{
    margin-top: 20px;
  }

  .center-text p{
    font-size: 0.55rem;
  }

  #products-section{
    padding-top: 0px;
  }

  .products {
    margin-top: 20px;
  }

  .products>div {
    margin-bottom: 15px;
    /* Add spacing between items */
  }

  .products img {
    width: 50px;
    /* Reduce image size */
    height: 50px;
  }

  .almira {
    font-size: 13px;
    /* Adjust font size for smaller screens */
  }

  .main-container,
  .main-container1,
  .main-container2,
  .main-container3 {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-top: 20px;
  }

  .image-container,
  .image-container1,
  .image-container2,
  .image-container3 {
    width: 100%;
    height: 150px;
    margin-left: 0;
    top: 0;
  }

  .image-container img,
  .image-container1 img,
  .image-container2 img,
  .image-container3 img {
    width: 77%;
    height: 250px;
    margin-left: 29px;
    top: -66px;
  }

  .main-container h2,
  .main-container1 h2,
  .main-container2 h2,
  .main-container3 h2 {
    margin-left: 0px;
    font-size: 1.2rem;
    /* Reduce font size for smaller screens */
    text-align: center;
  }

  .main-container p,
  .main-container1 p,
  .main-container2 p,
  .main-container3 p {
    margin-left: 8px;
    margin-top: -1px;
    font-size: 0.8rem;
    text-align: center;
    /* Reduce font size for smaller screens */
  }

  /* Adjust padding-top for better spacing on small screens */
  .main-container h2,
  .main-container1 h2,
  .main-container2 h2,
  .main-container3 h2 {
    padding-top: 5px;
  }

  .main-container p,
  .main-container1 p,
  .main-container2 p,
  .main-container3 p {
    padding-top: 3px;
    padding-bottom: 20px;
  }

  /* Adjust hover effects for images on smaller screens */
  .image-container img:hover,
  .image-container1 img:hover,
  .image-container2 img:hover,
  .image-container3 img:hover {
    transform: scale(1.05);
    /* Slightly less scaling for small screens */
  }

  .main-container1 p,
  .main-container3 p {
    max-width: 100%;
  }

  .image-container2 {
    height: 275px;
  }

  .image-container3 {
    height: 220px;
  }

  .image-container2 img {
    top: 10px;
  }

  .image-container3 img {
    top: -10px;
  }

  .image-container1 img {
    width: 60%;
    margin-left: 70px;
  }

  .logo1 {
    margin-top: 90px;
  }

  .contact {
    margin-bottom: 50px;
  }

  .contact a {
    font-size: 9px;
  }

  .contact img {
    height: 18px;
    width: 18px;
  }

  .foot h2 {
    font-size: 1.3rem;
  }

  .copyright h6{
    font-size: 0.5rem;
  }

  .social-icons img {
    height: 20px;
    width: 20px;
  }

  .social-icons{
    bottom: 112px;
    margin-right: 10px;
  }

}


@media only screen and (min-width: 481px) and (max-width: 767px) {

  footer {
    height: 100%;
    width: 100%;
  }

  body {
    overflow-x: hidden;
  }

  .logo img {
    height: 60px;
    width: 90px;
  }

  /* Make navbar items stack vertically and center-align */
  .navbar {
    padding-right: 50px;
    /* Remove right padding */
  }

  .navbar li {
    margin-left: 50px;
  }

  .navbar a {
    margin-left: 0;
    /* Remove left margin */
    margin-bottom: 10px;
    /* Add margin at the bottom for spacing */
    font-size: 14px;
    /* Adjust font size for better readability */
  }

  .navbar a:hover {
    color: #3F9D00;
    /* Keep the hover effect intact */
  }

  .content{
    margin-left: 30px;
    margin-top: 18px;
  }

  .line-one{
    font-size: 1rem;
  }

  .line-two{
    font-size: 1rem;
  }

  .content p{
    font-size: 0.8rem;
  }

  .center-text{
    margin-top: 20px;
  }

  .center-text p{
    font-size: 0.8rem;
  }

  #products-section{
    padding-top: 0px;
  }

  .products {
    margin-top: 20px;
  }

  .products>div {
    margin-bottom: 15px;
    /* Add spacing between items */
  }

  .products img {
    width: 65px;
    /* Reduce image size */
    height: 65px;
  }

  .line {
    left: 95%;
    top: 40%;
    width: 85%;
  }

  .line1 {
    left: 95%;
    top: 40%;
    width: 80%;
  }

  .line2 {
    left: 100%;
    top: 40%;
    width: 75%;
  }

  .almira {
    font-size: 13px;
    /* Adjust font size for smaller screens */
  }

  .main-container,
  .main-container1,
  .main-container2,
  .main-container3 {
    width: 100%;
    height: 160px;
    margin-left: 0;
    margin-top: 40px;
  }

  .image-container,
  .image-container1,
  .image-container2,
  .image-container3 {
    width: 28%;
    height: 15%;
    margin-left: 20px;
    top: -40%;
    margin-top: -200px;
  }

  .image-container img,
  .image-container1 img,
  .image-container2 img,
  .image-container3 img {
    width: 104%;
    height: 230px;
    margin-left: 0px;
    top: -13px;
    position: relative;
  }

  .main-container h2,
  .main-container1 h2,
  .main-container2 h2,
  .main-container3 h2 {
    margin-left: 0px;
    font-size: 1.8rem;
    /* Reduce font size for smaller screens */
  }

  .main-container p,
  .main-container1 p,
  .main-container2 p,
  .main-container3 p {
    margin-left: 0px;
    font-size: 1.2rem;
    /* Reduce font size for smaller screens */
  }

  /* Adjust padding-top for better spacing on small screens */
  .main-container h2,
  .main-container1 h2,
  .main-container2 h2,
  .main-container3 h2 {
    padding-top: 15px;
  }

  .main-container p,
  .main-container1 p,
  .main-container2 p,
  .main-container3 p {
    padding-top: 3px;
  }

  /* Adjust hover effects for images on smaller screens */
  .image-container img:hover,
  .image-container1 img:hover,
  .image-container2 img:hover,
  .image-container3 img:hover {
    transform: scale(1.05);
    /* Slightly less scaling for small screens */
  }

  .main-container1 p,
  .main-container3 p {
    max-width: 100%;
  }

  .image-container2 {
    height: 275px;
  }

  .image-container3 {
    height: 220px;
  }

  .image-container1,
  .image-container3 {
    position: relative;
    left: 66%;
  }

  .main-container1 h2,
  .main-container1 p,
  .main-container3 h2,
  .main-container3 p {
    margin-left: 25px;
    max-width: 60%;
  }

  .image-container2 img {
    top: 10px;
  }

  .image-container3 img {
    top: -10px;
  }

  .main-container h2,
  .main-container p,
  .main-container2 h2,
  .main-container2 p {
    position: relative;
    left: 35%;
    max-width: 60%;
  }

  .logo1 {
    margin-top: 90px;
  }

  .contact {
    margin-bottom: 50px;
    margin-top: 0;
  }

  .contact a {
    font-size: 10px;
  }

  .contact img {
    height: 30px;
    width: 30px;
  }

  .foot h2 {
    font-size: 1.2rem;
  }

  footer{
    margin-bottom: 35px;
  }

  .social-icons img {
    height: 25px;
    width: 25px;
  }

  .social-icons{
    bottom: 108px;
    margin-right: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

  footer {
    height: 100%;
    width: 100%;
  }

  body {
    overflow-x: hidden;
  }

  .logo img {
    height: 60px;
    width: 100px;
  }

  /* Make navbar items stack vertically and center-align */
  .navbar {
    padding-right: 50px;
    /* Remove right padding */
  }

  .navbar li {
    margin-left: 50px;
  }

  .navbar a {
    margin-left: 0;
    /* Remove left margin */
    margin-bottom: 10px;
    /* Add margin at the bottom for spacing */
    font-size: 14px;
    /* Adjust font size for better readability */
  }

  .navbar a:hover {
    color: #3F9D00;
    /* Keep the hover effect intact */
  }

  .content{
    margin-left: 50px;
    margin-top: 25px;
  }

  .line-one{
    font-size: 1.5rem;
  }

  .line-two{
    font-size: 1.5rem;
  }

  .content p{
    font-size: 1rem;
  }

  .center-text{
    margin-top: 30px;
  }

  .center-text p{
    font-size: 0.9rem;
  }

  #products-section{
    padding-top: 0px;
  }

  .products {
    margin-top: 20px;
  }

  .products>div {
    margin-bottom: 15px;
    /* Add spacing between items */
  }

  .products img {
    width: 90px;
    /* Reduce image size */
    height: 90px;
  }

  .almira {
    font-size: 17px;
    /* Adjust font size for smaller screens */
  }

  .products>div:not(:last-child)::after {
    left: 100%;
    /* Adjust line position for center alignment */
    bottom: 56%;
    /* Adjust line position relative to text */
    transform: translateX(0);
    /* Center the line */
    width: calc(90px + 20px);
  }

  .main-container,
  .main-container1,
  .main-container2,
  .main-container3 {
    width: 100%;
    height: 200px;
    margin-left: 0;
    margin-top: 40px;
  }

  .image-container,
  .image-container1,
  .image-container2,
  .image-container3 {
    width: 30%;
    height: 255px;
    margin-left: 12px;
    top: -40%;
    margin-top: -227px;
  }

  .image-container img,
  .image-container1 img,
  .image-container2 img,
  .image-container3 img {
    width: 110%;
    height: 280px;
    margin-left: -10px;
    top: -22px;
    position: relative;
  }

  .main-container h2,
  .main-container1 h2,
  .main-container2 h2,
  .main-container3 h2 {
    margin-left: 0px;
    font-size: 2rem;
    /* Reduce font size for smaller screens */
  }

  .main-container p,
  .main-container1 p,
  .main-container2 p,
  .main-container3 p {
    margin-left: 0px;
    font-size: 1.4rem;
    /* Reduce font size for smaller screens */
  }

  /* Adjust padding-top for better spacing on small screens */
  .main-container h2,
  .main-container1 h2,
  .main-container2 h2,
  .main-container3 h2 {
    padding-top: 25px;
  }

  .main-container p,
  .main-container1 p,
  .main-container2 p,
  .main-container3 p {
    padding-top: 3px;
  }

  /* Adjust hover effects for images on smaller screens */
  .image-container img:hover,
  .image-container1 img:hover,
  .image-container2 img:hover,
  .image-container3 img:hover {
    transform: scale(1.05);
    /* Slightly less scaling for small screens */
  }

  .main-container1 p,
  .main-container3 p {
    max-width: 100%;
  }

  .image-container3 {
    height: 265px;
  }

  .image-container1,
  .image-container3 {
    position: relative;
    left: 66%;
  }

  .main-container1 h2,
  .main-container1 p,
  .main-container3 h2,
  .main-container3 p {
    margin-left: 25px;
    max-width: 60%;
  }

  .image-container2 img {
    top: 10px;
  }

  .image-container2 {
    height: 300px;
  }

  .image-container3 img {
    top: -10px;
    width: 95%;
    left: 6%;
  }

  .main-container h2,
  .main-container p,
  .main-container2 h2,
  .main-container2 p {
    position: relative;
    left: 35%;
    max-width: 60%;
  }

  .logo1 {
    margin-top: 90px;
  }

  .contact {
    margin-bottom: 50px;
  }
}


@media only screen and (min-width: 901px) and (max-width: 1024px) {
.line-one{
  font-size: 1.8rem;
}

.line-two{
  font-size: 1.8rem;
}

.content p{
  font-size: 1.2rem;
}

}


@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }

  .content{
    margin-left: 50px;
    margin-top: 25px;
  }

  .line-one{
    font-size: 2rem;
  }

  .line-two{
    font-size: 2rem;
  }

  .content p{
    font-size: 1.2rem;
  }

  .line{
    width: 175%;
  }

  .line1{
    width: 128%;
  }

  .line2{
    width: 145%;
  }

  .main-container,
  .main-container2,
  .main-container3 {
    max-width: 92%;
  }

  .main-container2 h2 {
    padding-top: 25px;
  }

  .main-container1 {
    max-width: 95%;
  }

  .main-container h2,
  .main-container1 h2,
  .main-container2 h2, .main-container3 h2 {
    font-size: 2.8rem;
  }

  .main-container p,
  .main-container1 p,
  .main-container2 p, .main-container3 p {
    max-width: 51%;
    font-size: 2rem;
    padding-top: 0px;
  }

  .image-container1,
  .image-container3 {
    margin-left: 650px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {

  
  .line-one{
    font-size: 1.3rem;
  }

  .line-two{
    font-size: 1.3rem;
  }

  .content p{
    font-size: 0.9rem;
  }


}

@media only screen and (min-width: 301px) and (max-width: 400px) {

  .line-one,
  .line-two {
    font-size: 10px;
  }

  .content{
    margin-top: 0;
  }

  .center-text{
    margin-top: 10px;
  }

  .center-text p{
    font-size: 0.5rem;
  }
}


@media only screen and (min-width: 1441px) {
  header {
    height: 100%;
    width: 100%;
  }

  body {
    overflow-x: hidden;
  }

  .line, .line1, .line2{
    display: none;
  }

  main {
    height: 100%;
    width: 100%;
  }

  footer {
    height: 100%;
    width: 100%;
  }

}

@media only screen and (min-width: 520px) and (max-width: 767px) {
  .line, .line1, .line2{
    display: none;
  }
  
}


@media only screen and (min-width: 970px) and (max-width: 1024px){
  .line{
    left: 95%;
    top: 40%;
    width: 180%;
  }

  .line1{
    left: 95%;
    top: 40%;
    width: 170%;
  }

  .line2{
    left: 95%;
    top: 40%;
    width: 170%;
  }
}


@media only screen and (min-width: 768px) and (max-width: 969px) {
  .line, .line1, .line2{
    display: none;
  }
  
}

@media only screen and (max-width: 429px) {
  .line, .line1, .line2{
    display: none;
  }
  
}

@media only screen and (min-width: 428px) and (max-width: 480px){
  .line{
    left: 95%;
    top: 40%;
    width: 124%;
    border: 1px solid grey;
  }

  .line1{
    left: 83%;
    top: 40%;
    width: 88%;
    border: 1px solid grey;
  }

  .line2{
    left: 101%;
    top: 40%;
    width: 95%;
    border: 1px solid grey;
  }
}



